body{
    background-color: whitesmoke;
}
body .container{
    font-family: 'Cabin', sans-serif;
    background-color: #fff;
}
.container{
    box-shadow: 0px 0px 19px 5px rgb(0 0 0 / 18%);
    margin: 20px auto 0px auto;
    max-width: 800px;
}
.wrapper{
    padding-top: 20px;
    padding-left: 20px;

}
header{
    margin-top:20px;
    display: flex;
    justify-content: space-between;
}
.header__left{
    width: 60%;
}
.header__right{
    width: 35%;
}
.header__left h1{
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 700;
}

.header__left h2{
    font-weight: 600;
    font-size: 1.5rem;
    color: #505050;
    margin-bottom: 20px;
}
.contacts{
    display: flex;
}

.contacts ul li{
    margin-top: 10px;
    font-size: 1.2em;
    vertical-align: baseline;
}
.contacts ul li img {
    height: 30px;
    width: 30px;
    vertical-align: middle;
    margin-right: 15px;
}

.contacts ul li p {
    margin: 0px;
    display: inline;
    vertical-align: middle;
}



.contacts img{
    display:inline;
    width: 40px;
}

.header__right img{
    display: block;
    height: 200px;
    width: 200px;
    border: 10px solid #505050;
    border-radius: 50%;
    object-fit:cover; 
    object-position: center;
    margin:0 auto;
}

.left-section{
    width: 60%;
    font-size: 1.2em;
}

.section-header h3{
    font-size: 1.5em;
    font-weight: 600;
    width: 100%;
    border-bottom: 2px solid lightgray;
    margin-bottom: 10px
}

.left-section section{
    line-height: 1.4;
}


.left-section section{
    margin: 30px 0;
}
.education ul{
    list-style:disc;
    margin-left: 20px
}
.education li{
    margin: 20px 0;
}

pre{
    position: relative;
    z-index: 2;
    margin-top: 20px;
    font-size: 0.9rem;
    background-color: #f5f5f5;
    font-family: monospace !important;
    font-size: 1em;
    margin-right: -160px;
    padding-left: 40px;
    padding-top: 20px;
}

.main{
    display: flex;
    justify-content: space-between;
}
.right-section{
    background-color:#cfd8dc;
    width: 35%;
    margin-top:60px
}
.section-header-right{

}

.section-header-right h3{
    width: 136px;
    padding: 5px 20px;
    margin: 40px auto 20px;

    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #505050;
    font-size: 1.2em;
}
.section-header-right .first-header{
    margin: -20px auto 20px;

}
.right-section{
    font-size: 1.2em;
    line-height: 1.5;
}
.right-section ul{
    padding-left: 30px;
    list-style-type:disc;
}

.languages ul li span{
    font-weight: 600;
    display: block;
}
.languages ul li{
    margin-bottom: 10px
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    transition: 0.2s;
    color: #607d8b;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 0.8rem;
    color: #ffffff;
    background-color: #505050;
}
.github{
    display: flex;
    align-items: center;
}
.github-icon{
    width: 30px;
    margin-right: 10px;
}
footer a p{
    display: inline;
    color:#fff
}
.right-section{
    padding-right: 10px;
}


